<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario contacto</title>
</head>
<body>

<h1>CONTACTANOS</h1>

{% if form.errors %}
    <p style= "color : red" > Por favor revisa este campo<p>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>

    <input type='submit' value="enviar">

</form>

</body>
</html>