<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Estas buscando: <strong>{{ query }}</strong></p>

{% if articulos %}
    <p>Articulos encontrados: {{ articulos | length }} articulos.</p>

    <ul>

        {% for art in articulos %}

            <li>
                {{ art.nombre }} &nbsp; {{ art.seccion }} &nbsp; {{ art.precio }}
            </li>
        {% endfor %}

    </ul>
{% else %}:
    <p>Articulo no encontrado</p>

{% endif %}


</body>
</html>