<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aplicacion web</title>
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>

         <li>
            <a href="/tienda">Tienda</a>
        </li>

         <li>
            <a href="/blog">Blog</a>
        </li>


         <li>
            <a href="/servicios">Servicios</a>
        </li>

        <li>
            <a href="/contacto">Contacto</a>
        </li>
    </ul>
</nav>

{% block content %}
{% endblock %}

</body>
</html>