{% extends 'base.html' %}

{% block content %}

    <h1>home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem cupiditate distinctio dolorem eos
        exercitationem libero odio, qui. Adipisci aspernatur atque commodi cupiditate debitis delectus dolorem
        doloremque dolores dolorum ducimus eaque enim est eum facilis fuga fugit id illum incidunt inventore ipsa
        laboriosam laborum magni, maxime modi natus non numquam obcaecati odio optio possimus praesentium quis quo
        recusandae rerum, sed velit veniam. Accusamus adipisci animi aut consectetur, consequatur consequuntur deleniti
        dolor dolore doloribus ea eius esse est incidunt itaque, iusto laborum laudantium molestiae natus necessitatibus
        neque, non numquam obcaecati odio optio placeat provident quo ratione rerum suscipit tenetur vel velit.</p>

{% endblock %}